@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 60px;
    font-weight: 700;
    line-height: 72px;
}

h2 {
    font-size: 36px;
    font-weight: 700;
    line-height: 48px;
}

h3 {
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
}

.primary-color {
    color: #4D84FF;
}

.navigation-block {
    align-items: center;
    background-color: white;
    display: flex;
    flex-direction: row;
    height: 72px;
    justify-content: space-between;
    padding: 0 18% 0 18%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

.logo-container {
    align-items: center;
    display: flex;
}

.navigation-container {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: center;
}

.navigation-item {
    margin: 24px 18px 24px 18px;
}

.navigation-link {
    color: black;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    padding: 12px 15px 12px 15px;
    text-decoration: none;
}

.download-button {
    background-color: #4D84FF;
    border-radius: 4px;
    border: none;
    color: white;
    font-size: 16px;
    height: 48px;
    width: 150px;
}

.download-button :hover {
    border: none;
}

.wave-block {
    background-color: #F2F6FF;
    width: 100%;
}

.main-block {
    background-color: #F2F6FF;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: 72px;
    padding: 5% 18% 0 18%;
    width: 100%;
}

.main-block-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 35%;
}

.main-block-title {
    font-size: 60px;
}

.main-block-subtitle {
    color: #2B283DB2;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    margin-top: 32px;
}

.main-block-button {
    margin-top: 24px;
}

.main-block-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-block-wave {
    transform: scale(-1, 1) rotate(180deg);
}

.about-block {
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 0 18% 0 18%;
    width: 100%;
}

.about-block-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-block-text {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: start;
    margin-top: 64px;
}

.about-block-text-title {
    margin-top: 12px;
    max-width: 400px;
}

.about-block-text-advantage-block {
    margin-top: 48px;
    max-width: 400px;
}

.about-block-text-advantage-title {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.about-block-text-advantage-text {
    color: #2B283DB2;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 8px;
}

.features-block {
    align-items: center;
    background-color: #F2F6FF;
    display: flex;
    flex-direction: column;
    padding: 128px 18% 96px 18%;
    width: 100%;
}

.features-block-wave {
    background-color: #F2F6FF;
    width: 100%;
}

.features-block-content {
    display: flex;
    flex-direction: row;
}

.features-block-description {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.features-block-content-description {
    display: flex;
    flex-direction: column;
    gap: 72px;
    justify-content: center;
}

.features-description-icon {
    background-color: #4D84FF;
    border-radius: 6px;
    height: 56px;
    min-height: 56px;
    min-width: 56px;
    width: 56px;
}

.features-description-text-block {
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-width: 350px;
}

.features-description-text {
    color: #2B283DB2;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}