@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    padding: 0 10% 0 10%;
}

.navigation-block {
    align-items: center;
    background-color: white;
    display: flex;
    flex-direction: row;
    height: 72px;
    justify-content: space-between;
    width: 100%;
}

.logo-container {
    display: flex;
    align-items: center;
}

.navigation-container {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: center;
}

.navigation-item {
    margin: 24px 18px 24px 18px;
}

.navigation-link {
    color: black;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    line-height: 24px;
    padding: 12px 15px 12px 15px;
    text-decoration: none;
}

.download-button {
    background-color: #EDF3FF;
    border-radius: 4px;
    color: #4D84FF;
    border: none;
    height: 48px;
    width: 150px;
    font-size: 16px;
}

.download-button :hover {
    border: none;
}